{% extends 'base.html' %} 
{% block content %}
<form method="post" class="buttons">
  <h3>Enter The Chat Room</h3>
  <div>
    <label for="name">Name:</label>
    <input
      type="text"
      placeholder="Pick a name!"
      name="name"
      id="name"
      value="{{ name }}"
      required
    />
  </div>
  <div class="password">
    <label for="password">Password:</label>
    <input
      type="password"
      placeholder="Enter the password"
      name="password"
      id="password"
      value="{{ password }}"
    />
  </div>
  <div class="join">
    <label for="code">Room Code:</label>
    <input
      type="text"
      placeholder="Room Code"
      name="code"
      id="code"
      value="{{ code }}"
    />
    <button type="submit" name="join">Join a Room</button>
  </div>
  <button type="submit" name="create" class="create-btn">Create a Room</button>
  {% if error %}
  <ul>
    <li>{{ error }}</li>
  </ul>
  {% endif %}
</form>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}

